{% extends 'layout.html.twig' %}


{% block body %}
    <title>{% block title %}{{ title }}{% endblock %}</title>

<h2>Félicitation  ! </h2>
<div class="contain-explain" id="redirectregister">
    <div class="explain">
        <p>Vous avez bien envoyé votre formulaire, notre administrateur vous repondra sous de plus bref delais ! </p>
    </div>
    <div class="explain-pic" >
        <img src=" {{ asset('image/redirectregister/happy.jpg') }}" alt="Homer en joie">
    </div>
</div>
{% endblock %}
