{% extends 'layout.html.twig' %}
{% block body %}
<h2>Félicitation  ! </h2>
<div class="contain-explain" id="redirectregister">
    <div class="explain">
        <p>Vous vous êtes enregistré. Vérifiez maintenant votre boite mail pour finaliser votre inscirption !</p>
    </div>
    <div class="explain-pic" >
        <img src=" {{ asset('image/redirectregister/joie.webp') }}" alt="Enfant bien content ">
    </div>
</div>
{% endblock %}
